<app-cabecalho
  [Titulo]="titulo"
  [TituloBotaoAdicionar]="tituloBotaoAdicionar"
  [UrlAdicionar]="urlAdicionar"
  ladoEsquerdo
>
  <mat-form-field class="margin-esquerda">
    <mat-label>Filtro</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. ium"
      #input
    />
  </mat-form-field>
</app-cabecalho>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td [ngClass]="{'cor-cinza': element.ativo === false}" mat-cell *matCellDef="let element">{{ element.nome }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="endereco">
    <th mat-header-cell *matHeaderCellDef>Endereço</th>
    <td [ngClass]="{'cor-cinza': element.ativo === false}" mat-cell *matCellDef="let element">
      {{ element.endereco }}, {{ element.numero }}
    </td>
  </ng-container>

  <ng-container matColumnDef="cidade">
    <th mat-header-cell *matHeaderCellDef>Cidade/Estado</th>
    <td [ngClass]="{'cor-cinza': element.ativo === false}" mat-cell *matCellDef="let element">
      {{ element.cidade }} / {{ element.estado }}
    </td>
  </ng-container>

  <ng-container matColumnDef="telefone">
    <th mat-header-cell *matHeaderCellDef>Telefone</th>
    <td [ngClass]="{'cor-cinza': element.ativo === false}" mat-cell *matCellDef="let element">{{ element.telefone }}</td>
  </ng-container>

  <ng-container matColumnDef="ativo">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td [ngClass]="{'cor-cinza': element.ativo === false}" mat-cell *matCellDef="let element">
      <mat-checkbox [(ngModel)]="element.ativo" [disabled]="true"></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="edicao">
    <th mat-header-cell *matHeaderCellDef>Edição</th>
    <td [ngClass]="{'cor-cinza': element.ativo === false}" mat-cell *matCellDef="let element">
      <mat-icon
        class="amarelo-icone cursor"
        #tooltip="matTooltip"
        matTooltip="Editar Unidade"
        matTooltipPosition="left"
        (click)="editar(element.id)"
        >edit</mat-icon
      >
      <mat-icon
        class="vermelho-icone cursor margin-esquerda"
        #tooltip="matTooltip"
        matTooltip="Ativar/Desativar Unidade"
        matTooltipPosition="right"
        (click)="deletar(element.id)"
        >delete</mat-icon
      >
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      Não tem unidades
    </td>
  </tr>
</table>
