<form [formGroup]="Formulario" autocomplete="false" novalidate>
  <mat-card  class="formulario">
    <mat-card-actions>
      <mat-grid-list cols="2" rowHeight="60px" gutterSize="10px">
        <mat-grid-tile aria-disabled="true">
          <app-input-text titulo="Nome*" controlName="nome" [formGroup]="Formulario" class="full-width"></app-input-text>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-input-date titulo="Data Nascimento*" controlName="dataNascimento" [formGroup]="Formulario" class="full-width"></app-input-date>
        </mat-grid-tile>
         <mat-grid-tile>
          <app-input-text  titulo="CPF*" controlName="cpf" [formGroup]="Formulario" class="full-width"></app-input-text>          
        </mat-grid-tile>
        <mat-grid-tile>
          <app-input-text [tipo]="'email'" titulo="E-mail*" controlName="email" [formGroup]="Formulario" class="full-width"></app-input-text>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-input-text titulo="RG*" controlName="rg" [formGroup]="Formulario" class="full-width"></app-input-text>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-input-text titulo="Telefone*" controlName="telefone" [formGroup]="Formulario" class="full-width"></app-input-text>
        </mat-grid-tile>
       <mat-grid-tile>
          <app-input-text titulo="CEP*" controlName="cep" [formGroup]="Formulario" class="full-width"></app-input-text>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-input-text titulo="Endereço*" controlName="endereco" [formGroup]="Formulario" class="full-width"></app-input-text>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-input-text titulo="Número*" controlName="numero" [formGroup]="Formulario" class="full-width"></app-input-text>
        </mat-grid-tile>
       <mat-grid-tile>
          <app-input-text titulo="Bairro*" controlName="bairro" [formGroup]="Formulario" class="full-width"></app-input-text>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-input-text titulo="Cidade*" controlName="cidade" [formGroup]="Formulario" class="full-width"></app-input-text>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-input-text titulo="Estado*" controlName="estado" [formGroup]="Formulario" class="full-width"></app-input-text>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-input-select  [opcoes]="dados" titulo="Cargo*" controlName="cargoId" [formGroup]="Formulario" class="full-width"></app-input-select>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile colspan="2">
        <ng-content></ng-content>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-actions>
  </mat-card>
</form>
