.cursor {
  cursor: pointer;
}
.titulo-telas {
  margin-top: 3%;
  text-align: center;
}

button {
  float: right;
  margin: 5% 5% 0 0;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
